In [15]:
import pandas as pd
import numpy as np
from function import analise_estoque, analise_estoque_grupo
import warnings
warnings.filterwarnings('ignore')

        '005 - Calil',
        '007 - Rio Vermelho',
        '008 - Vargem',
        '009 - Canasvieiras',
        '010 - Upa',
        '011 - Trindade',

In [16]:
#valor_em_estoque, valor_faltas, df_saldo_estoque = analise_estoque('001','xls')

In [17]:
df_relacao_vendas = pd.read_excel('planilhas/vendas/vendedores/relacao_vendas.xls', header=10, usecols=('B,E,G,Q,U,AA,AB,AI,AL,AM,AP,AS'))
df_relacao_vendas = df_relacao_vendas.set_axis(['cod_venda','filial','forma_pagamento','data','hora','cupom','cliente','vendedor','valor_bruto','%desconto','valor_desconto','valor_liquido'], axis=1)[0:-3]
df_relacao_vendas['vendedor'] = df_relacao_vendas['vendedor'].astype(int)
df_relacao_vendas.head()

,cod_venda,filial,forma_pagamento,data,hora,cupom,cliente,vendedor,valor_bruto,%desconto,valor_desconto,valor_liquido
0,145540,1.0,CARTAO / PIX,2024-08-01,1970-01-01 07:31:00,88976.0,NaN,10,53.61,0.00,0.0,53.61
1,145541,1.0,DINHEIRO,2024-08-01,1970-01-01 07:32:00,88977.0,NaN,10,12.00,16.67,-2.0,10.00
2,145542,1.0,CARTAO / PIX,2024-08-01,1970-01-01 07:48:00,88978.0,NaN,10,44.37,0.00,0.0,44.37
3,145543,1.0,CARTAO / PIX,2024-08-01,1970-01-01 09:30:00,88979.0,NaN,10,27.68,11.20,-3.1,24.58
4,145544,1.0,CARTAO / PIX,2024-08-01,1970-01-01 10:40:00,88982.0,NaN,10,42.99,0.00,0.0,42.99

In [22]:
df_colaboradores = pd.read_excel('planilhas/vendas/vendedores/lista_colaboradores.xls', header=8,usecols=('B,C,E'))[0:-5]
df_colaboradores = df_colaboradores.set_axis(['codigo','colaborador','admissao'], axis=1)
df_colaboradores['cod_nome_colab'] = df_colaboradores['codigo'].astype(str) + df_colaboradores['colaborador']
df_colaboradores['cod_nome_colab'].unique()

array(['1 PEDRINHO BRITO', '2 LUIZ ANDRE FERREIRA', '6 EMERSON SOARES',
       '9 SILVANIA MATOS', '10 OTAVIO ALVES DE ALMEIDA',
       '11 SHANDRICA SOARES RODRIGUES', '33 SHIRLEY MARLENE SANTOS',
       '38 CARMEN LUCIA SILVEIRA GONCALVES', '39 PAULO MATOS',
       '42 ERINEU FRANCISCO CORDEIRO', '43 EDSON ROSARIO',
       '45 MICHELLE ENCK', '52 DIEGO NUNES',
       '65 MIRELLY DE CASSIA PALACIOS FERREIRA', '66 ELAINE COELHO',
       '67 RICARDO RAMOS CASSOL', '70 DIRCEMARA SOARES CARVALHO',
       '72 GENECI MARIA DE CASTRO SILVEIRA', '73 MARIELE DE SOUZA LEITE',
       '74 LUCAS BORGES', '75 FABBIO AUGUSTO BURGHERA DOS SANTOS',
       '79 LUANA SARAIVA', '83 CARLOS ALEXANDRE DA CRUZ GOES',
       '84 TANIA  ANDREIA SCHULTZ BEDATTY',
       '87 MICHAEL DOUGLAS GOMES SILVERIO', '88 JAQUELINE DA SILVA SOUZA',
       '89 PAULA ELIANA VILLEGAS DEL RIO',
       '90 CRISZIELLY PRATES SCHROEDER', '93 FLAVIA BATISTA VILACA',
       '94 TAYANE ALVES FELIPE', '95 DANIEL DA CRUZ SANTOS ROSA',
       '97 GABRIELLY DA SILVA DE BARCELLOS BRANDAO ',
       '98 ANA PAULA ZUCHI CORDEIRO', '100 CRISTIANE CAVALHEIRO',
       '101 ELIZETE MORAIS LARA DOS SANTOS', '103 FIRESTONE SIQUEIRA',
       '106 IVANE VIEIRA DA SILVA', '111 CLEVERSON LUIS LORENSSETTI',
       '112 LIDIANE CARLA MACHADO', '113 CAIO FELIPE RIBEIRO DE BRITO',
       '114 DOUGLAS BALESTRIN', '115 LYNNEKER GOMES SILVEIRA',
       '116 LIDIA REGINA XAVIER GONZALEZ'], dtype=object)