In [2]:
import pandas as pd
import numpy as np
from function import analise_estoque, analise_estoque_grupo
import warnings
warnings.filterwarnings('ignore')

        '005 - Calil',
        '007 - Rio Vermelho',
        '008 - Vargem',
        '009 - Canasvieiras',
        '010 - Upa',
        '011 - Trindade',

In [16]:
#valor_em_estoque, valor_faltas, df_saldo_estoque = analise_estoque('001','xls')

In [17]:
df_relacao_vendas = pd.read_excel('planilhas/vendas/vendedores/relacao_vendas.xls', header=10, usecols=('B,E,G,Q,U,AA,AB,AI,AL,AM,AP,AS'))
df_relacao_vendas = df_relacao_vendas.set_axis(['cod_venda','filial','forma_pagamento','data','hora','cupom','cliente','vendedor','valor_bruto','%desconto','valor_desconto','valor_liquido'], axis=1)[0:-3]
df_relacao_vendas['vendedor'] = df_relacao_vendas['vendedor'].astype(int)
df_relacao_vendas.head()

,cod_venda,filial,forma_pagamento,data,hora,cupom,cliente,vendedor,valor_bruto,%desconto,valor_desconto,valor_liquido
0,145540,1.0,CARTAO / PIX,2024-08-01,1970-01-01 07:31:00,88976.0,NaN,10,53.61,0.00,0.0,53.61
1,145541,1.0,DINHEIRO,2024-08-01,1970-01-01 07:32:00,88977.0,NaN,10,12.00,16.67,-2.0,10.00
2,145542,1.0,CARTAO / PIX,2024-08-01,1970-01-01 07:48:00,88978.0,NaN,10,44.37,0.00,0.0,44.37
3,145543,1.0,CARTAO / PIX,2024-08-01,1970-01-01 09:30:00,88979.0,NaN,10,27.68,11.20,-3.1,24.58
4,145544,1.0,CARTAO / PIX,2024-08-01,1970-01-01 10:40:00,88982.0,NaN,10,42.99,0.00,0.0,42.99

In [34]:
df_relacao_vendas['cod_venda'].count()

16745

In [35]:
a = df_relacao_vendas['cliente'].count()

In [36]:
b = df_relacao_vendas['cliente'].isna().sum()

In [37]:
a/(a+b)*100

10.606151089877576

In [38]:
df_colaboradores = pd.read_excel('planilhas/vendas/vendedores/lista_colaboradores.xls', header=8,usecols=('B,C,E'))[0:-5]
df_colaboradores = df_colaboradores.set_axis(['codigo','colaborador','admissao'], axis=1)
df_colaboradores['cod_nome_colab'] = df_colaboradores['codigo'].astype(str) + ' - '+ df_colaboradores['colaborador']
a = df_colaboradores['cod_nome_colab'].unique()

In [41]:
for i in a:
    print(i)

1 -  PEDRINHO BRITO
2 -  LUIZ ANDRE FERREIRA
6 -  EMERSON SOARES
9 -  SILVANIA MATOS
10 -  OTAVIO ALVES DE ALMEIDA
11 -  SHANDRICA SOARES RODRIGUES
33 -  SHIRLEY MARLENE SANTOS
38 -  CARMEN LUCIA SILVEIRA GONCALVES
39 -  PAULO MATOS
42 -  ERINEU FRANCISCO CORDEIRO
43 -  EDSON ROSARIO
45 -  MICHELLE ENCK
52 -  DIEGO NUNES
65 -  MIRELLY DE CASSIA PALACIOS FERREIRA
66 -  ELAINE COELHO
67 -  RICARDO RAMOS CASSOL
70 -  DIRCEMARA SOARES CARVALHO
72 -  GENECI MARIA DE CASTRO SILVEIRA
73 -  MARIELE DE SOUZA LEITE
74 -  LUCAS BORGES
75 -  FABBIO AUGUSTO BURGHERA DOS SANTOS
79 -  LUANA SARAIVA
83 -  CARLOS ALEXANDRE DA CRUZ GOES
84 -  TANIA  ANDREIA SCHULTZ BEDATTY
87 -  MICHAEL DOUGLAS GOMES SILVERIO
88 -  JAQUELINE DA SILVA SOUZA
89 -  PAULA ELIANA VILLEGAS DEL RIO
90 -  CRISZIELLY PRATES SCHROEDER
93 -  FLAVIA BATISTA VILACA
94 -  TAYANE ALVES FELIPE
95 -  DANIEL DA CRUZ SANTOS ROSA
97 -  GABRIELLY DA SILVA DE BARCELLOS BRANDAO
98 -  ANA PAULA ZUCHI CORDEIRO
100 -  CRISTIANE CAVALHEIRO
101 -  ELIZETE MORAIS LARA DOS SANTOS
103 -  FIRESTONE SIQUEIRA
106 -  IVANE VIEIRA DA SILVA
111 -  CLEVERSON LUIS LORENSSETTI
112 -  LIDIANE CARLA MACHADO
113 -  CAIO FELIPE RIBEIRO DE BRITO
114 -  DOUGLAS BALESTRIN
115 -  LYNNEKER GOMES SILVEIRA
116 -  LIDIA REGINA XAVIER GONZALEZ

In [17]:
#vendas genericos/similares
df_gensim = pd.read_excel('planilhas/vendas/vendedores/vendas_genericos_similares.xls', header=9,usecols=('C,D,H'))[0:-2]
df_gensim = df_gensim.set_axis(['codigo','vendedor','valor_liquido'],axis=1)
df_gensim

   codigo                  vendedor valor_liquido
0       2       LUIZ ANDRE FERREIRA          59.5
1       6            EMERSON SOARES        247.21
2       9            SILVANIA MATOS       11885.4
3      10          OTAVIO ALVES DE        8727.57
4      11         SHANDRICA SOARES        2538.45
5      33          SHIRLEY MARLENE       10595.93
6      38    CARMEN LUCIA SILVEIRA       17358.06
7      39               PAULO MATOS         23.39
8      42         ERINEU FRANCISCO        5051.44
9      43             EDSON ROSARIO      15380.64
10     45             MICHELLE ENCK      12465.93
11     52               DIEGO NUNES      16236.13
12     66             ELAINE COELHO       1460.97
13     67      RICARDO RAMOS CASSOL       5975.54
14     70         DIRCEMARA SOARES        8155.41
15     72          GENECI MARIA DE       22659.75
16     73         MARIELE DE SOUZA        6691.07
17     75           FABBIO AUGUSTO       10455.85
18     83      CARLOS ALEXANDRE DA       17010.53
19     87          MICHAEL DOUGLAS        4318.02
20     88       JAQUELINE DA SILVA        2729.74
21     89    PAULA ELIANA VILLEGAS        3325.26
22     90        CRISZIELLY PRATES        2042.45
23     93     FLAVIA BATISTA VILACA       4488.42
24     94       TAYANE ALVES FELIPE      12558.25
25     95           DANIEL DA CRUZ       17136.03
26     97    GABRIELLY DA SILVA DE        7047.98
27     98          ANA PAULA ZUCHI        3880.09
28    100      CRISTIANE CAVALHEIRO       3646.37
29    101      ELIZETE MORAIS LARA        3258.59
30    104           CARLOS EDUARDO           -108
31    106     IVANE VIEIRA DA SILVA       4977.73
32    108           BARBARA  SANDRE       2172.35
33    111           CLEVERSON LUIS       12803.35
34    112            LIDIANE CARLA        3144.04
35    113   CAIO FELIPE RIBEIRO DE        5629.25
36    114         DOUGLAS BALESTRIN       3668.55
37    115           LYNNEKER GOMES        1443.27
38    116      LIDIA REGINA XAVIER         590.62