In [11]:
import streamlit as st
import pandas as pd
import sqlite3
from function import graf_plotly
import warnings
warnings.filterwarnings('ignore')

# Função para conectar ao banco de dados
def conectar_banco():
    return sqlite3.connect("vendas.db")

# Função para carregar os colaboradores do banco de dados
def carregar_colaboradores():
    conn = conectar_banco()
    df = pd.read_sql("SELECT codigo, colaborador, cod_nome_colab FROM colaboradores", conn)
    conn.close()
    return df

# Função para carregar as vendas gerais
def carregar_vendas():
    conn = conectar_banco()
    df = pd.read_sql("SELECT * FROM vendas_vendedores", conn)
    conn.close()
    return df

# Função para carregar vendas por grupo
def carregar_vendas_grupo(grupo):
    conn = conectar_banco()
    df = pd.read_sql(f"SELECT * FROM vendas_{grupo}", conn)
    conn.close()
    return df

In [12]:
df_colaboradores = carregar_colaboradores()
df_vendas = carregar_vendas()

# KPIs gerais
total_colaboradores = len(df_colaboradores)
venda_total = round(df_vendas['valor_liquido'].sum(), 2)

In [13]:
df_vendas

Empty DataFrame
Columns: [id, cod_venda, filial, forma_pagamento, data, hora, cupom, cliente, vendedor, valor_bruto, desconto_percent, valor_desconto, valor_liquido]
Index: []