In [29]:
from time import sleep
from datetime import date
from selenium import webdriver
from selenium.webdriver.chrome.service import Service 
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd
from tqdm import tqdm

In [35]:
df = pd.read_excel('clientes_sintraturb.xls')
df_sintraturb = pd.DataFrame()
df_sintraturb['cod'] = df['Cód.'][:-1]
df_sintraturb['cliente'] = df['Cliente'][:-1]
df_sintraturb

        cod                              cliente
0    771100        ABILHO JUSTINO DA SILVA COITO
1    772100        ACACIO MENDES FERNANDES FILHO
2    773100             ACIR ANTONIO GRAH JUNIOR
3    774100     ADALBERTO ANTUNES MOREIRA JUNIOR
4    775100                    AIRTON DOS SANTOS
..      ...                                  ...
215  986100  JEFERSON LUCIANO DOS SANTOS ANDRADE
216  987100         JOSUE RODRIGO PINTO DA SILVA
217  988100           RIZOLAINE PEREIRA DE SOUZA
218  989100               VILSON MANOEL DA COSTA
219  990100              ZENILDO MANOEL DA COSTA

[220 rows x 2 columns]

In [36]:
df_sintraturb = df_sintraturb[180:]
df_sintraturb

        cod                               cliente
180  951100            SANDRA STEFINI DA SILVEIRA
181  952100             SILVIO LUIZ PEREIRA SILVA
182  953100               TANIA APARECIDA PEREIRA
183  954100             VAGNER LUIS NEVES LULHIER
184  955100                       VANDERLEI TIEGS
185  956100              VILMAR VERISSIMO MARTINS
186  957100                      WAGNER DE VARGAS
187  958100                          ANDRE FARIAS
188  959100                ARILSO DE SOUZA GALVAO
189  960100             CHRISTIAN ALVES GRAZZIOLI
190  961100           CRISTHIAN KLEBER DOS SANTOS
191  962100             ELTON GONCALVES DE ARAUJO
192  963100                EMANUEL LOPES DA SILVA
193  964100                ENOQUE EDEMIR DA SILVA
194  965100            ILEMAR DOS SANTOS LAURINDO
195  966100        ITAMAR JUNIOR RODRIGUES CORREA
196  967100                   JEAN CARLOS MASSING
197  968100               JOSE AUGUSTO DOS SANTOS
198  969100                         LORENI CAMPOS
199  970100                         MARCELO LOPES
200  971100  MOACIR JULIANO PASTERNIAK DOS SANTOS
201  972100                 NIOMAR EDUARDO LERMEN
202  973100             PATRICIO HIGINO MARCELINO
203  974100                   TIAGO LIMA DO CARMO
204  975100       ANANIAS BERNARDO DA SILVA FILHO
205  976100                     BRYAN SALES SILVA
206  977100                CHARLES CELSO BARCELOS
207  978100                    DAVI COSTA FREITAS
208  979100                 ELIELTON JOAO PEREIRA
209  980100                   MAURECI DONATO DIAS
210  981100              ANA PAULA  ALMEIDA SILVA
211  982100                     DAVI DIEGO KOYAMA
212  983100      DOUGLAS DIEGO DOS SANTOS ANDRADE
213  984100     FRANCISCO DAS CHAGAS LOPES MENDES
214  985100                  JEAN SERGIO DA SILVA
215  986100   JEFERSON LUCIANO DOS SANTOS ANDRADE
216  987100          JOSUE RODRIGO PINTO DA SILVA
217  988100            RIZOLAINE PEREIRA DE SOUZA
218  989100                VILSON MANOEL DA COSTA
219  990100               ZENILDO MANOEL DA COSTA

In [37]:
texto_obs = '''### ATENCAO ### SOMENTE E PERMITIDO A VENDA DE MEDICAMENTOS, FRALDAS OU LEITES PARA ESSE CLIENTE NO CONVENIO DO SINTRATURB. PARA VENDAS DE NAO-MEDICAMENTOS, REALIZAR OUTRA VENDA EM DINHEIRO OU CARTAO!'''

In [38]:
service = Service()
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)
driver.implicitly_wait(2)
url = 'http://179.184.16.200:4647/sgfpod1/Menu.pod'
driver.get(url)
sleep(1)
driver.find_element(by=By.NAME,value='id_cod_usuario').send_keys(119)
driver.find_element(by=By.NAME,value='nom_senha').send_keys(190224)
sleep(1)
driver.find_element(by=By.NAME,value='login').click()
sleep(2)

url = 'http://179.184.16.200:4647/sgfpod1/Cad_0002.pod'
driver.get(url)
sleep(5)

for cod_cliente in tqdm(df_sintraturb['cod'], desc="Atualizando clientes", unit="cliente"):
    driver.find_element(by=By.ID,value='id_cod_clienteEntrada').send_keys(cod_cliente)
    driver.find_element(by=By.ID,value='id_cod_clienteEntrada').send_keys(Keys.RETURN)
    sleep(1)
    driver.find_element(by=By.LINK_TEXT,value='Inf. Adicionais').click()
    sleep(1)
    driver.find_element(by=By.ID,value='nom_observacao').clear()
    driver.find_element(by=By.ID,value='nom_observacao').send_keys(texto_obs)
    driver.find_element(by=By.ID,value='btSalvarGeral').click()
    sleep(2)

Atualizando clientes: 100%|██████████| 40/40 [03:18<00:00,  4.97s/cliente]