In [96]:
import pandas as pd
import numpy as np
from function import analise_estoque, analise_estoque_grupo
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

        '005 - Calil',
        '007 - Rio Vermelho',
        '008 - Vargem',
        '009 - Canasvieiras',
        '010 - Upa',
        '011 - Trindade',

In [72]:
def vendas_grupo(grupo):
    df = pd.read_excel(f'planilhas/vendas/vendedores/vendas_{grupo}.xls',header=10, usecols=('B,D,F,T,Z,AF,AM,BC') )
    df = df.set_axis(['venda','filial','pagamento','data','hora','cupom','vendedor','valor_liquido'], axis=1)
    df['vendedor'] = df['vendedor'].shift(-1)
    df['valor_liquido'] = df['valor_liquido'].shift(-2)
    df.dropna(inplace=True)
    df['filial'] = df['filial'].astype(int)
    df['cupom'] = df['cupom'].astype(int)
    df['vendedor'] = df['vendedor'].astype(int)
    return df

In [77]:
df_grupo = vendas_grupo('perfumaria')
df_grupo

,venda,filial,pagamento,data,hora,cupom,vendedor,valor_liquido
1,145543,1,CARTAO / PIX,2024-08-01,1970-01-01 09:30:00,88979,10,6.99
4,145547,1,CARTAO / PIX,2024-08-01,1970-01-01 11:32:00,88986,10,19.00
7,145548,1,CARTAO / PIX,2024-08-01,1970-01-01 11:11:00,88983,87,11.99
10,145554,1,CARTAO / PIX,2024-08-01,1970-01-01 11:49:00,88989,10,2.99
13,145556,1,CARTAO / PIX,2024-08-01,1970-01-01 13:09:00,88992,87,7.99
...,...,...,...,...,...,...,...,...
18769,1304,11,CARTAO / PIX,2024-09-02,1970-01-01 20:44:00,1234,112,14.99
18772,1309,11,CARTAO / PIX,2024-09-02,1970-01-01 21:22:00,1238,112,182.99
18775,1312,11,CARTAO / PIX,2024-09-02,1970-01-01 22:08:00,1242,116,29.99
18778,1313,11,CARTAO / PIX,2024-09-02,1970-01-01 22:14:00,1243,112,7.99
18781,1315,11,CARTAO / PIX,2024-09-02,1970-01-01 22:17:00,1244,112,7.98

In [95]:
vendedor = df_grupo.query('vendedor == 10')
df2 = vendedor.groupby(['data'])
dataframe_tkm = df2[['valor_liquido']].sum() / df2[['valor_liquido']].count()
dataframe_tkm['media_7d'] = dataframe_tkm['valor_liquido'].rolling(7).mean()
dataframe_tkm

            valor_liquido   media_7d
data
2024-08-01      12.245000        NaN
2024-08-02      22.255000        NaN
2024-08-03      37.857500        NaN
2024-08-04      22.035000        NaN
2024-08-06      64.940000        NaN
2024-08-07      19.078182        NaN
2024-08-08      13.785000  27.456526
2024-08-09      69.980000  35.704383
2024-08-10       5.990000  33.380812
2024-08-11       7.675000  29.069026
2024-08-13      22.487500  29.133669
2024-08-14      17.858750  22.407776
2024-08-15      20.390000  22.595179
2024-08-16      42.593750  26.710714
2024-08-17      46.360000  23.336429
2024-08-18       5.990000  23.336429
2024-08-19       4.990000  22.952857
2024-08-20      19.080000  22.466071
2024-08-21      43.303333  26.101012
2024-08-22      10.315000  24.661726
2024-08-23      47.611250  25.378512
2024-08-24      22.823333  22.016131
2024-08-27      40.192500  26.902202
2024-08-28      41.188571  32.073427
2024-08-29      24.290000  32.817713
2024-08-30      22.899091  29.902821
2024-08-31      44.775000  34.825678
2024-09-01      19.970000  30.876928

In [97]:
def graf_plotly(data_frame, titulo):
    fig = go.Figure()
    fig.update_layout(
    title= f'{titulo}', 

    xaxis=dict(
        rangeslider= dict(visible=True),
        type='date',
        showline=True,
        showgrid=False,
        showticklabels=True,
        linecolor='rgb(204, 204, 204)',
        linewidth=2,
        ticks='outside',
        tickfont=dict(
            family='Arial',
            size=12,
            color='rgb(82, 82, 82)',
        ),
    ),
    yaxis=dict(
        
        showgrid=False,
        zeroline=True,
        showline=True,
        showticklabels=True,
    ),
    autosize=True,
    margin=dict(
        autoexpand=True,
        l=100,
        r=20,
        t=110,
    ),
    showlegend=True,
    plot_bgcolor='white',
    legend= dict(
        font=dict(
            family='Arial',
            size=9)
    )
    )
    count = 0
    for i in data_frame.columns:
        if count < 2:
            count += 1
            lines = fig.add_trace(go.Scatter(x=data_frame.index, y=data_frame[f'{i}'], name= f"{i}", mode="markers+lines", visible=True))
        elif count == 2:
            count += 1
            lines = fig.add_trace(go.Scatter(x=data_frame.index, y=data_frame[f'{i}'], name= f"{i}", mode="lines", visible=True))
        elif count >2:
            count += 1
            lines = fig.add_trace(go.Scatter(x=data_frame.index, y=data_frame[f'{i}'], name= f"{i}", mode="lines", visible='legendonly'))
    return lines

In [98]:
graf_plotly(dataframe_tkm,'EvoluÃ§Ã£o do Ticket MÃ©dio')

In [17]:
df_relacao_vendas = pd.read_excel('planilhas/vendas/vendedores/relacao_vendas.xls', header=10, usecols=('B,E,G,Q,U,AA,AB,AI,AL,AM,AP,AS'))
df_relacao_vendas = df_relacao_vendas.set_axis(['cod_venda','filial','forma_pagamento','data','hora','cupom','cliente','vendedor','valor_bruto','%desconto','valor_desconto','valor_liquido'], axis=1)[0:-3]
df_relacao_vendas['vendedor'] = df_relacao_vendas['vendedor'].astype(int)
df_relacao_vendas.head()

,cod_venda,filial,forma_pagamento,data,hora,cupom,cliente,vendedor,valor_bruto,%desconto,valor_desconto,valor_liquido
0,145540,1.0,CARTAO / PIX,2024-08-01,1970-01-01 07:31:00,88976.0,NaN,10,53.61,0.00,0.0,53.61
1,145541,1.0,DINHEIRO,2024-08-01,1970-01-01 07:32:00,88977.0,NaN,10,12.00,16.67,-2.0,10.00
2,145542,1.0,CARTAO / PIX,2024-08-01,1970-01-01 07:48:00,88978.0,NaN,10,44.37,0.00,0.0,44.37
3,145543,1.0,CARTAO / PIX,2024-08-01,1970-01-01 09:30:00,88979.0,NaN,10,27.68,11.20,-3.1,24.58
4,145544,1.0,CARTAO / PIX,2024-08-01,1970-01-01 10:40:00,88982.0,NaN,10,42.99,0.00,0.0,42.99

In [34]:
df_relacao_vendas['cod_venda'].count()

16745

In [35]:
a = df_relacao_vendas['cliente'].count()

In [36]:
b = df_relacao_vendas['cliente'].isna().sum()

In [37]:
a/(a+b)*100

10.606151089877576

In [38]:
df_colaboradores = pd.read_excel('planilhas/vendas/vendedores/lista_colaboradores.xls', header=8,usecols=('B,C,E'))[0:-5]
df_colaboradores = df_colaboradores.set_axis(['codigo','colaborador','admissao'], axis=1)
df_colaboradores['cod_nome_colab'] = df_colaboradores['codigo'].astype(str) + ' - '+ df_colaboradores['colaborador']
a = df_colaboradores['cod_nome_colab'].unique()

In [41]:
for i in a:
    print(i)

1 -  PEDRINHO BRITO
2 -  LUIZ ANDRE FERREIRA
6 -  EMERSON SOARES
9 -  SILVANIA MATOS
10 -  OTAVIO ALVES DE ALMEIDA
11 -  SHANDRICA SOARES RODRIGUES
33 -  SHIRLEY MARLENE SANTOS
38 -  CARMEN LUCIA SILVEIRA GONCALVES
39 -  PAULO MATOS
42 -  ERINEU FRANCISCO CORDEIRO
43 -  EDSON ROSARIO
45 -  MICHELLE ENCK
52 -  DIEGO NUNES
65 -  MIRELLY DE CASSIA PALACIOS FERREIRA
66 -  ELAINE COELHO
67 -  RICARDO RAMOS CASSOL
70 -  DIRCEMARA SOARES CARVALHO
72 -  GENECI MARIA DE CASTRO SILVEIRA
73 -  MARIELE DE SOUZA LEITE
74 -  LUCAS BORGES
75 -  FABBIO AUGUSTO BURGHERA DOS SANTOS
79 -  LUANA SARAIVA
83 -  CARLOS ALEXANDRE DA CRUZ GOES
84 -  TANIA  ANDREIA SCHULTZ BEDATTY
87 -  MICHAEL DOUGLAS GOMES SILVERIO
88 -  JAQUELINE DA SILVA SOUZA
89 -  PAULA ELIANA VILLEGAS DEL RIO
90 -  CRISZIELLY PRATES SCHROEDER
93 -  FLAVIA BATISTA VILACA
94 -  TAYANE ALVES FELIPE
95 -  DANIEL DA CRUZ SANTOS ROSA
97 -  GABRIELLY DA SILVA DE BARCELLOS BRANDAO
98 -  ANA PAULA ZUCHI CORDEIRO
100 -  CRISTIANE CAVALHEIRO
101 -  ELIZETE MORAIS LARA DOS SANTOS
103 -  FIRESTONE SIQUEIRA
106 -  IVANE VIEIRA DA SILVA
111 -  CLEVERSON LUIS LORENSSETTI
112 -  LIDIANE CARLA MACHADO
113 -  CAIO FELIPE RIBEIRO DE BRITO
114 -  DOUGLAS BALESTRIN
115 -  LYNNEKER GOMES SILVEIRA
116 -  LIDIA REGINA XAVIER GONZALEZ

In [21]:
#vendas genericos/similares
df_gensim = pd.read_excel('planilhas/vendas/vendedores/vendas_genericos_similares.xls', header=9)
#df_gensim = df_gensim.set_axis(['codigo','vendedor','valor_liquido'],axis=1)
df_gensim.head(30)

,Unnamed: 0,Unnamed: 1,Data EmisssÃ£o,Unnamed: 3,Unnamed: 4,Qtd. Vendas,Valor Custo,Valor Vendas,Margem Lucro
0,NaN,NaN,Vendedor:,2.0,LUIZ ANDRE FERREIRA,NaN,NaN,NaN,NaN
1,NaN,NaN,2024-08-04 00:00:00,NaN,NaN,1.0,14.62,35.50,142.82
2,NaN,NaN,2024-08-16 00:00:00,NaN,NaN,1.0,5.86,4.08,-30.38
3,NaN,NaN,2024-08-27 00:00:00,NaN,NaN,1.0,12.51,11.69,-6.55
4,NaN,NaN,2024-08-28 00:00:00,NaN,NaN,1.0,3.65,8.23,125.48
5,NaN,NaN,Total Vendedor:,NaN,NaN,4.0,36.64,59.50,62.39
6,NaN,NaN,Vendedor:,6.0,EMERSON SOARES,NaN,NaN,NaN,NaN
7,NaN,NaN,2024-08-09 00:00:00,NaN,NaN,1.0,7.59,16.99,123.85
8,NaN,NaN,2024-08-12 00:00:00,NaN,NaN,1.0,8.3,1.00,-87.95
9,NaN,NaN,2024-08-15 00:00:00,NaN,NaN,2.0,20.78,47.99,130.94
10,NaN,NaN,2024-08-21 00:00:00,NaN,NaN,1.0,31.73,145.15,357.45
11,NaN,NaN,2024-08-23 00:00:00,NaN,NaN,2.0,7.09,27.08,281.95
12,NaN,NaN,2024-08-26 00:00:00,NaN,NaN,1.0,1.69,5.00,195.86
13,NaN,NaN,2024-08-27 00:00:00,NaN,NaN,1.0,0.7,4.00,471.43
14,NaN,NaN,Total Vendedor:,NaN,NaN,9.0,77.88,247.21,217.42
15,NaN,NaN,Vendedor:,9.0,SILVANIA MATOS,NaN,NaN,NaN,NaN
16,NaN,NaN,2024-08-01 00:00:00,NaN,NaN,38.0,417.71,1189.46,184.76
17,NaN,NaN,2024-08-02 00:00:00,NaN,NaN,22.0,169.02,477.74,182.65
18,NaN,NaN,2024-08-03 00:00:00,NaN,NaN,32.0,291.36,822.87,182.42
19,NaN,NaN,2024-08-04 00:00:00,NaN,NaN,1.0,3.98,17.00,327.14
20,NaN,NaN,2024-08-05 00:00:00,NaN,NaN,8.0,70.59,190.27,169.54
21,NaN,NaN,2024-08-06 00:00:00,NaN,NaN,9.0,120.49,254.97,111.61
22,NaN,NaN,2024-08-07 00:00:00,NaN,NaN,42.0,534.7,1365.11,155.30
23,NaN,NaN,2024-08-08 00:00:00,NaN,NaN,6.0,54.04,119.98,122.02
24,NaN,NaN,2024-08-09 00:00:00,NaN,NaN,26.0,412.42,960.01,132.77
25,NaN,NaN,2024-08-10 00:00:00,NaN,NaN,20.0,329.65,807.85,145.06
26,NaN,NaN,2024-08-12 00:00:00,NaN,NaN,14.0,153.31,476.93,211.09
27,NaN,NaN,2024-08-13 00:00:00,NaN,NaN,8.0,55.38,185.92,235.72
28,NaN,NaN,2024-08-14 00:00:00,NaN,NaN,36.0,343.49,938.45,173.21
29,NaN,NaN,2024-08-15 00:00:00,NaN,NaN,13.0,128.52,355.89,176.91

In [44]:
df = df_gensim

In [45]:
# Passo 1: Identificar as linhas com informaÃ§Ãµes de vendedores e limpar colunas desnecessÃ¡rias
vendedor = None
vendedor_col = []

for i in range(len(df)):
    # Verifica se a linha tem o texto 'Vendedor:'
    if df.iloc[i].str.contains('Vendedor:', na=False).any():
        # Extrai o nome e cÃ³digo do vendedor
        qtd_vendas = df.iloc[i][df.iloc[i].str.contains(r'^\d+', na=False, regex=True)].values
        nome_vendedor = df.iloc[i][~df.iloc[i].isna()].values[-1]
        vendedor = f"{qtd_vendas[0] if qtd_vendas.size > 0 else ''} - {nome_vendedor}"
    vendedor_col.append(vendedor)

# Adiciona a coluna 'Vendedor' ao DataFrame
df['Vendedor'] = vendedor_col

# Passo 2: Remover as linhas de totais e vazias, e limpar a coluna de data
df = df[~df['Data EmisssÃ£o'].str.contains('Total Vendedor:', na=False)]
df = df.dropna(subset=['Data EmisssÃ£o', 'Qtd. Vendas', 'Valor Custo', 'Valor Vendas', 'Margem Lucro'])

# Passo 3: Converter a coluna 'Data EmisssÃ£o' para formato de data
df['Data EmisssÃ£o'] = pd.to_datetime(df['Data EmisssÃ£o'], errors='coerce')
df = df.dropna(subset=['Data EmisssÃ£o'])

# Passo 4: Pivotar o dataframe para que cada vendedor tenha sua coluna com valores de vendas
df_pivot = df.pivot_table(index='Data EmisssÃ£o', columns='Vendedor', values='Valor Vendas', aggfunc='sum')

# Passo 5: Resetar o Ã­ndice para ter 'Data EmisssÃ£o' como uma coluna normal
df_pivot = df_pivot.reset_index()

# Exibir o dataframe resultante
df_pivot

Vendedor,Data EmisssÃ£o,- - ANA PAULA ZUCHI CORDEIRO,- - BARBARA SANDRE,- - CAIO FELIPE RIBEIRO DE BRITO,- - CARLOS ALEXANDRE DA CRUZ GOES,- - CARLOS EDUARDO BASTOS DO NASCIMENTO,- - CARMEN LUCIA SILVEIRA GONCALVES,- - CLEVERSON LUIS LORENSSETTI,- - CRISTIANE CAVALHEIRO,- - CRISZIELLY PRATES SCHROEDER,...,- - MICHAEL DOUGLAS GOMES SILVERIO,- - MICHELLE ENCK,- - OTAVIO ALVES DE ALMEIDA,- - PAULA ELIANA VILLEGAS DEL RIO,- - PAULO MATOS,- - RICARDO RAMOS CASSOL,- - SHANDRICA SOARES RODRIGUES,- - SHIRLEY MARLENE SANTOS,- - SILVANIA MATOS,- - TAYANE ALVES FELIPE
0,2024-08-01,144.98,NaN,NaN,816.20,NaN,NaN,234.89,150.96,NaN,...,357.10,315.24,182.11,146.96,NaN,451.20,103.81,545.23,1189.46,483.52
1,2024-08-02,NaN,190.07,NaN,353.81,NaN,1467.72,346.64,69.59,NaN,...,232.60,527.42,214.39,262.95,NaN,NaN,152.69,20.98,477.74,274.12
2,2024-08-03,NaN,63.80,NaN,987.80,NaN,676.75,218.52,156.96,NaN,...,NaN,807.00,365.24,87.89,NaN,425.22,NaN,24.99,822.87,282.21
3,2024-08-04,NaN,NaN,NaN,436.26,NaN,650.14,NaN,NaN,NaN,...,NaN,449.83,153.52,234.13,NaN,NaN,NaN,NaN,17.00,865.05
4,2024-08-05,NaN,89.96,NaN,597.49,NaN,572.59,451.50,249.93,NaN,...,113.29,NaN,39.90,82.27,NaN,149.89,654.23,347.69,190.27,NaN
5,2024-08-06,NaN,255.46,NaN,170.65,NaN,834.97,366.35,NaN,NaN,...,130.99,501.83,612.69,327.93,NaN,306.36,75.45,64.49,254.97,300.33
6,2024-08-07,250.75,578.70,NaN,690.49,NaN,NaN,NaN,244.93,NaN,...,229.22,427.19,516.69,NaN,NaN,604.80,156.46,554.66,1365.11,538.73
7,2024-08-08,350.58,NaN,NaN,292.29,NaN,820.20,399.71,284.03,NaN,...,NaN,468.01,299.62,135.91,NaN,418.74,9.90,116.45,119.98,979.68
8,2024-08-09,94.98,368.23,NaN,515.46,NaN,1036.72,579.28,164.96,NaN,...,NaN,426.06,538.12,61.98,NaN,NaN,234.85,620.12,960.01,812.77
9,2024-08-10,204.55,230.68,NaN,1089.10,NaN,578.26,334.60,171.16,NaN,...,25.98,433.63,358.81,62.57,NaN,NaN,27.99,846.89,807.85,NaN
10,2024-08-11,NaN,381.07,NaN,521.54,NaN,NaN,484.03,151.96,NaN,...,NaN,NaN,309.03,NaN,NaN,675.02,NaN,444.66,NaN,NaN
11,2024-08-12,335.30,14.38,NaN,431.54,NaN,931.03,786.37,67.97,NaN,...,224.75,NaN,NaN,120.50,NaN,313.69,237.94,403.98,476.93,NaN
12,2024-08-13,NaN,NaN,NaN,291.86,NaN,447.00,594.90,164.61,NaN,...,146.72,392.59,339.80,24.08,NaN,216.83,89.17,481.35,185.92,NaN
13,2024-08-14,157.44,NaN,NaN,199.07,NaN,NaN,NaN,90.97,NaN,...,45.89,409.61,245.12,116.67,NaN,436.42,126.37,1089.00,938.45,850.31
14,2024-08-15,144.56,NaN,527.81,584.25,NaN,859.03,274.20,NaN,NaN,...,260.86,678.39,258.95,273.63,NaN,NaN,116.95,207.06,355.89,1156.07
15,2024-08-16,162.31,NaN,325.28,277.59,NaN,587.39,667.53,303.78,NaN,...,259.09,452.12,488.73,NaN,12.99,NaN,134.98,563.15,312.46,708.00
16,2024-08-17,325.37,NaN,NaN,952.01,NaN,629.49,447.74,55.59,NaN,...,60.98,491.01,526.19,170.94,NaN,NaN,NaN,NaN,129.94,897.41
17,2024-08-18,189.65,NaN,556.38,407.17,NaN,700.33,554.63,NaN,NaN,...,NaN,764.94,208.84,258.63,NaN,NaN,NaN,NaN,863.98,1110.99
18,2024-08-19,205.10,NaN,557.03,1121.93,NaN,928.24,648.74,44.98,191.15,...,418.74,NaN,NaN,101.28,NaN,264.98,15.00,310.89,444.76,NaN
19,2024-08-20,147.73,NaN,408.47,689.18,NaN,39.99,1005.16,321.45,14.00,...,247.59,487.99,349.41,56.99,10.40,349.09,54.99,791.63,31.99,865.47
20,2024-08-21,NaN,NaN,593.41,865.51,NaN,NaN,NaN,192.86,145.26,...,124.73,602.20,184.12,NaN,NaN,199.05,14.99,564.36,116.00,515.08
21,2024-08-22,141.28,NaN,433.91,439.33,NaN,840.11,594.02,NaN,306.27,...,129.87,577.97,185.05,185.73,NaN,243.81,16.40,84.96,356.06,492.03
22,2024-08-23,207.70,NaN,NaN,1282.45,NaN,469.52,910.81,91.98,293.41,...,343.45,261.39,348.15,59.87,NaN,90.99,36.98,382.04,286.34,387.78
23,2024-08-24,32.06,NaN,217.04,301.16,NaN,402.56,224.89,119.88,279.55,...,NaN,462.78,547.56,33.49,NaN,54.50,NaN,NaN,54.96,NaN
24,2024-08-25,145.52,NaN,NaN,756.28,NaN,605.72,NaN,124.96,359.25,...,12.99,373.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2024-08-26,89.94,NaN,294.32,144.06,NaN,853.32,788.14,134.98,NaN,...,329.08,NaN,NaN,80.50,NaN,113.08,194.34,598.55,372.94,NaN
26,2024-08-27,NaN,NaN,405.40,448.74,NaN,765.81,603.18,109.52,NaN,...,263.51,838.51,378.79,277.03,NaN,194.99,NaN,507.13,267.33,599.03
27,2024-08-28,309.27,NaN,664.78,152.75,-108.0,84.49,696.25,178.36,292.51,...,195.68,535.73,290.72,76.47,NaN,114.93,26.99,1016.67,403.31,NaN
28,2024-08-29,241.02,NaN,645.42,516.82,NaN,766.48,591.27,NaN,161.05,...,135.61,391.39,387.69,41.90,NaN,236.95,57.97,9.00,-15.11,439.67
29,2024-08-30,NaN,NaN,NaN,677.74,NaN,853.98,NaN,34.90,NaN,...,332.54,404.40,435.39,44.96,NaN,139.99,NaN,NaN,97.99,69.18